aiokafka==0.7.1
asyncio==3.4.3
certifi==2021.5.30
chardet==4.0.0
grpcio==1.36.1
grpcio-reflection==1.36.1
idna==2.10
kafka-python==2.0.2
mongoengine==0.23.1
motor==2.5.1
Pillow==8.1.2
protobuf==3.15.6
pymongo==3.12.0
python-dotenv==0.16.0
requests==2.25.1
six==1.16.0
urllib3==1.26.5
git+ssh://git@bitbucket.org/polmaster100/skyproto.git@v1.0.298


